/* .list {
  word-break: break-all;
  text-align: left;
}

.todoBox {
  height: auto;
  width: 380px;
  border: 1px solid black;
  margin-top: 10px;
  background-color: white;
  box-shadow:rgb(66, 64, 64)
}

.todoInput {
  width: 219px;
} */
